
.App{
  color:rgba(120, 120, 120, 1);
  display: flex;
  height: 102vh;
}
.App-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50rem;
  height: 20rem;
  margin:auto;
}
.App-title{
  text-align: center;
  width: 20rem;
  margin: auto;
}
.grid-container{
  width: 100%;
  margin: auto;
}
.reset-button{
  width: 5rem;
  margin: auto;
}